body {
  background-color: green;
  
  
}

h1 { 
  text-align: center;
  font-family: calibri;
  
}

#container {
 width: 40%;
  height: auto;
  position: relative;
  left: 450px;
  top: 150px;
 

  
}

#div1 {

  width: 150px;
  height: 150px;
  background-color: white;
  float: left;

}

#div2 {

  width: 150px;
  height: 150px;
  background-color: white;
  float: left;
 
}

#div3 {

  width: 150px;
  height: 150px;
  background-color: white;
  float: left;
}



